/* CSS for template by Kate - SOURCE: W3Schools Stylesheet: https://www.w3schools.com/w3css/4/w3.css */
/* edits made by Kazuto Nov 21, 22, 23 */
/*  edits made by Mark Nov 24, cleaning up unused classes */

body {
    margin:0;
}

body, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}

h1 {
    color:#000;
    font-family: Georgia, serif;
    font-size:3vw;
}

.headertext {
    color:#fff!important;
    font-family: Georgia, serif;
    font-size:3vw;
}

/* Main Navigation Bar structure */
.w3-top {
    position:fixed;  /* this keeps the nav bar fixed to the top when scrolling */
    width:100%;
    z-index:1;
    top:0;
}

.w3-bar {
    width:100%;
    overflow:hidden;
    display:block;
    padding:8px 16px;
    float:left;
    border:none;
    outline:0;
}

.w3-white {
    color:#000!important;
    background-color:#fff!important;
}

/* makes a shadow around the nav bar */
.w3-card {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); /* this puts the shadow around the box */
}

.w3-left-align {
    text-align:left!important;
}

.w3-large {
    font-size:18px!important;
}

.w3-right {
    float:right!important;
}

.w3-padding-large {
    padding:12px 24px!important;
}

.w3-hover-blue:hover {
    color:#fff!important;
    background-color:#85a8c7!important;
}

.w3-hover-white:hover {
    color:#000!important;
    background-color:#fff!important;
}

.w3-jumbo {
    font-size:64px!important;
}



/* End of Main Navigation Bar */

/* Individual Buttons on Nav Bar */

.w3-button {
    border:none;
    display:block;
    padding:8px 16px;
   /* vertical-align:middle; */
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
}

.w3-bar-item {
    padding:8px 16px;
    float:left;
    border:none;
    display:block;
    outline:0;
    width:auto;
}

/* End of Individual buttons on nav bar */

/* Hide based on screen size (responsive design) */

.w3-hide {
    display:none!important;
}

.w3-show {
    display:block!important;
}
@media (min-width:993px) {
    .w3-hide-large{
        display:none!important;
    }
}

@media (max-width:992px) and (min-width:651px){
    .w3-hide-medium{
        display:none!important;
    }
}

@media (max-width:650px) {
    .w3-hide-small {
        display:none!important;
    }
}

/* End of hide based on screen size */

/* Header and grids */

.w3-container {
    padding:0.01em 16px;
}

.w3-padding-62-16 {
    padding:62px 16px
}

.w3-center {
    text-align:center!important;
}

.w3-margin {
    margin:16px!important;
}

.w3-xlarge {
    font-size:24px!important;
}

.w3-black {
    color:#fff!important;
    background-color:#000!important;
}

.w3-margin-top {
    margin-top:16px!important;
}

.w3-content {
    margin: auto;
    width: 50%;
}

/* Kate */

.w3-bar-block {
    width:100%;
    text-align:left;
    padding:8px 16px;
}
/* end Kate */

/*   Mark edit formatting for small screens Dec 1 2020*/

.w3-content-mobile {
    margin: auto;
    width: 100%;
}
/* end Mark */

.w3-display-middle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.w3-light-grey {
    color:#000!important;
    background-color:#f1f1f1!important;
}

.w3-text-grey {
    color:#757575!important;
}

/* Kazuto */
.w3-image {
    max-width: 100%;
    height: auto;
}

.flex{
    display:flex;
    flex-direction:row;
}

.quarterWidth {
    width: 25%;
}

.thirdWidth {
    width: 33.33%;
}

/* Mark  edit formatting for People Page Dec 1 2020*/

.flex-people {
    display:flex;
    flex-direction:column;
}

.biotext {
    margin: 5px;
}

.bioimage {
    float: left;
    margin-right: 15px;
}

.bioblock {
    margin: 30px 10px;
}
/* Mart end */